.grid-container{
    
   /* grid-template-columns:100px 100px 100px 100px; */
   /* grid-template-rows:repeat(2,100px); */
   justify-content:center;
    align-content: center;
    height: 700px;
    grid-template:repeat(2, 100px)/ repeat(4,100px);
}
.items {
    

}