.grid-container{
    width:100%;
    grid-template-columns: 1fr 1fr;
   /* justify-items: flex-start;*/
    height: 600px;
    /*align-items: start;*/


}
#box1{
    width: 50%;
/*justify-content: center;
align-self: center;
height:  100px;*/


}
#box2{
    width: 50%;
}
#box3{
    width: 50%;
}
#box4{
    width: 50%;
}